doctype html
html lang="es"
  head
    meta charset="utf-8"
    title Biodens C&#38;L
    meta name="description" content="clinica y laboratorio dental"
    meta name="keywords" content="dental, clinica, laboratorio"
    meta name="author" content="Gricel Sepúlveda"
    /! AUX RESPONSIVO
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    /! FONT AWESOME
    link rel="stylesheet" href="css/font-awesome.min.css"
    /! ESTILOS DEL SITIO
    link rel="stylesheet" href="css/estilos.css"
    /! UNSLIDER DOTS
    link rel="stylesheet" href="unslider-master/dist/css/unslider.css"
    /! UNSLIDER DOTS
    link rel="stylesheet" href="unslider-master/dist/css/unslider-dots.css"
    /! FAVICON
    link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"
    /! FAVICON
    link rel="icon" type="image/svg+xml" href="img/favicon.svg"
    /! SHARE IMAGE
    link rel="image_src" href="img/index.jpg"
  body
    nav.menu_mobile
      i.fa.fa-bars aria-hidden="true"
    nav.main_menu
      .flex
        /! LOGO
        figure.biodenscyl_logo
          a href="#inicio"
            img src="img/biodenscyl_white.svg"
        /! MAIN MENU
        ul.menu_list
          a href="#inicio"
            li.active inicio
          a href="#nosotros"
            li nosotros
          a href="#servicios"
            li servicios
          a href="#contact"
            li contacto
      figure.border
    .my-slider id="inicio"
      ul
        li.uno
          .wrapper
            h1 Atención dental completa y sin intermediarios
            a.btn href="#" reserva tu hora
        li.dos
          .wrapper
            h2 Biodens recibe visita de "Nombre Apellido"
            span Desde España nos acompañó una de las eminencias de la especialidad.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        li.tres
          .wrapper
            h2 Conoce nuestras especialidades
            span En Biodens queremos que no necesites nunca más ir a otro lugar.
            p
              | Si ya has visitado otra consulta dental, lo más probable es que hayas tenido que lidiar con otros servicios de mecánica dental y derivaciones del trabajo a externos, teniendo que soportar esperas y descentralización de tu atención. Con Biodens puedes estar tranquilo ya que contamos con laboratorio dental y consulta médica para asegurarte que vamos a atender tu problema en 360º.
            a.btn href="#" ver servicios
    section.showcase
      article
        p Equipamiento de última generación
      article
        p Especialistas en el complejo cuidado de tu salud bucal
      article
        p Proveemos comfort y seguridad en la atención dental
    section#nosotros
      header
        h3 Somos atención dental completa.
        p
          | Sin laboratorios ni profesionales externos.
          br
          |  Sea cual sea su caso, lo trabajamos de principio a fin.
        figure
      .flex
        p Erick 
        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p Tello
      p.description
        | Somos una empresa dedica al rubro dental, especialistas en el cuidado de la salud bucal brindadole al paciente comfort, funcionalidad y principalmente
        span.neg  ALTA ESTÉTICA;
        |  mediante el empleo de materiales reconocidos mundialmente, calidad en el trabajo y seguridad en la atención. Contamos con nuestro propio LABORATORIO DENTAL, lo cual facilita el tiempo en la atención y costos al alcance de todos.
        br
        br
        | Nuestro lema de atención es: 
        span.neg  "TU SONRISA ES NUESTRA MEJOR CARTA DE PRESENTACIÓN", 
        |  por lo que nos preocupamos en el 100% de 
        span.neg  SATISFACCION
        |  del 
        span.neg  PACIENTE.
        br
        br
        | Nuestro equipo esta altamente calificado para la resolución de cualquier tipo de problema dental de mediana y alta complejidad.
        br
        br
        | Estamos dedicados a cumplir con las necesidades de nuestros pacientes, brindándoles una calidad de trabajo con los estándares más altos; mediante la utilización de los mejores materiales reconocidos a nivel mundial, garantizando de esta forma una satisfacción del 100% en todos nuestros tratamientos y asesorías brindadas.
        | Contamos con un equipo de trabajo altamente calificado para resolver cualquier tipo de problema dental de mediana y alta complejidad mediante la interacción continua de manera multidisciplinaria con todas nuestras especialidades y especialistas.
        br
        br
        | Contamos con nuestro propio 
        span.neg  LABORATORIO DENTAL, 
        |  por lo cual podemos ofrecer 
        span.neg  RAPIDEZ Y CALIDAD 100% ASEGURADA.
    section#servicios.servicios
      header SERVICIOS BiodensC&#38;L
      .flex
        article
          .cnt
            figure
              img src="img/diente.svg"
          h3 Servicios medicos dentales:
          ul
            li.title Endodoncia
            li 
              | Es el tratamiento que consiste en la extracción de la pulpa del diente, un tejido pequeño en forma de hebra, que se encuentra en el centro del conducto del diente. Una vez que la pulpa muerta, se enferma o es dañada, se extrae; el espacio que queda se limpia, se vuelve a dar forma y se rellena. Este procedimiento sella el conducto radicular.
            li.title Ortodoncia
            li
              | La ortodoncia es el diagnóstico, prevención, intercepción y tratamiento de todas las formas de maloclusión dental, como el mal alineamiento de los dientes, el contacto irregular de los dientes superiores con los inferiores, así como de alteraciones asociadas a las estructuras adyacentes.
              br
              | El ortodoncista diseña, aplica y controla la aparatología funcional y correctora para mantener relaciones óptimas de armonía fisiológica y estética entre las estructura faciales y craneales.
            li.title Implantología dental
            li 
              | La implantología oral es la rama de la odontología que se ocupa de reemplazar los dientes perdidos por distintas causas, valiéndose de implantes dentales colocados en el hueso maxilar o mandibular en reemplazo de las raíces dentarias para, posteriormente, ser rehabilitados mediante prótesis dentales fijas unitarias o múltiples.
        article
          .cnt
            figure
              img src="img/dentadura.svg"
          h3 Servicios mecánico dentales:
          ul
            li.title Endodoncia
            li 
              | Es el tratamiento que consiste en la extracción de la pulpa del diente, un tejido pequeño en forma de hebra, que se encuentra en el centro del conducto del diente. Una vez que la pulpa muerta, se enferma o es dañada, se extrae; el espacio que queda se limpia, se vuelve a dar forma y se rellena. Este procedimiento sella el conducto radicular.
            li.title Ortodoncia
            li
              | La ortodoncia es el diagnóstico, prevención, intercepción y tratamiento de todas las formas de maloclusión dental, como el mal alineamiento de los dientes, el contacto irregular de los dientes superiores con los inferiores, así como de alteraciones asociadas a las estructuras adyacentes.
              br
              | El ortodoncista diseña, aplica y controla la aparatología funcional y correctora para mantener relaciones óptimas de armonía fisiológica y estética entre las estructura faciales y craneales.
            li.title Implantología dental
            li 
              | La implantología oral es la rama de la odontología que se ocupa de reemplazar los dientes perdidos por distintas causas, valiéndose de implantes dentales colocados en el hueso maxilar o mandibular en reemplazo de las raíces dentarias para, posteriormente, ser rehabilitados mediante prótesis dentales fijas unitarias o múltiples.
    section#map
      article
        span Biodens C&#38;L
        ul
          li.bolde Atención médica:
          li 
            | Santa María 217 Oficina 64, Recoleta,
            br
            |  Santiago
          li.bolder Laboratorio dental:
          li 
            | Avda. Luis Thayer #0130 Oficina 506, Providencia,
            br 
            | Santiago
        br
        span Contacto:
        ul
          li
            a href="tel:+56957363971"
              i class="fa fa-phone" aria-hidden="true"
              | +569 57363971
          li
            a href="mailto:contacto@biodenscyl.cl"
              i class="fa fa-envelope" aria-hidden="true"
              | contacto@biodenscyl.cl
      aside
        .cnt_mapa
          .google-maps
            iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.593572571425!2d-70.64528354959127!3d-33.43383890395098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5978784fb0b%3A0xe4a2425da059795b!2sSta+Mar%C3%ADa+217%2C+Recoleta%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1488766730893" width="600" height="300" frameborder="0" style="border:0; pointer-events: none;" allowfullscreen=""
    section#contact
      h3 Formulario de contacto:
      form name='formulario' id='formulario' method='post' action='enviar.php' target='_self' enctype="multipart/form-data"
        .flex
          label Nombre:
          input name="Nombre" id="Nombre" type="text" placeholder="Ej: Nombre Apellido"
        .flex
          label Correo:
          input name="email" id="email" type="text" placeholder="Ej: nombre@correo.com"
        .flex
          label Teléfono:
          input name="telefono" id="telefono" type="text" placeholder="Ej: 99573639XX"
        .flex
          label Mensaje:
          textarea name="mensaje" id="mensaje" rows="5" placeholder="Ej: Descripción de su consulta..."
        button.btn type="submit" enviar
    footer.footer
      a href="#inicio"
        img src="img/biodenscyl_color.svg"
      span
        | Desarrollado por
        a href="http://www.gricelsepulveda.cl"  Gricel Sepúlveda, 2016
      span.creative
        | Esta obra está bajo una licencia de
        a.negrita href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
          |  Creative Commons Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional
      img.cc src="img/creative.png"
    script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    /! UNSLIDER
    script src="unslider-master/dist/js/unslider-min.js"
    /! SCRIPTS PERSONALIZADOS
    script src="js/scripts.js"
    javascript:
      jQuery(document).ready(function($) {
        $('.my-slider').unslider({
          autoplay: true,
          infinite: true,
          nav: true,
          arrows: false,
          delay: 10000,
        });
      });